* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: cursive;
    width: cover;
}

nav {
    background: none;
    height: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 40px;
    z-index: 1;
}

label.logo {
    color: rgba(158, 112, 212, 0.78);
    font-size: 70px;
    line-height: 20px;
    font-family: Matura MT Script Capitals;
    padding: 100px;
    font-weight: bold;

}

nav ul {
    color: none;
    margin-left: 399px;
    margin-right: 5px;
    padding: 0;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;


}

nav ul li a {
    color: beige;
    font-size: 20px;
    padding: 5px 13px;
    text-decoration:none;
    grid-gap: 10px;
}
.Icone{
    cursor: pointer;
}
.icone {
    width: 90px;
    height: 70px;
    margin-right: 5px;
    margin-bottom: 15px;

}

.login-label {
    margin-left: -70px;
    color: beige; 
}
a.active,
a:hover {
    background: hsla(282, 76%, 57%, 0.33);
    transition: 0.5s;
    color: #f5e9f2;
    font-weight: bolder;

}

.container {
    padding: 0 200px;
}

.hero {
    background: url(Foto/sVheadsetWave.jpg);
    height: 100vh;
    /*vh-view height-veti qe pershtat pamjen e objektit ne baz te pamjes se monitorit*/
    background-repeat: no-repeat;
    /*no-repeat-veti qe ndihmon mos me u perserit foto-sepse duhet me zan 100% te ekranit*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}


.hero h1 {
    font-size: 54px;
    border: 50px;
    background-color: rgba(103, 42, 165, 0.57);
    color: rgba(255, 255, 255, 0.91);
    font-family: arial;
    font-weight: 100;
    margin-bottom: 35px;
    margin-top: 200px;
    margin-left: 300px;
}

.button {
    padding: 10px 50px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 10px 5px;

}

.button-hero {
    display: flex;
    margin: auto;
    padding: 9px 20px;
    background-color: lavenderblush;
    border: none;
    border-radius: 60px;
    font-size: 18px;
    color: rgb(106, 90, 205);
    cursor: pointer;
}

.button-hero:hover {
    background-color: rgba(186, 33, 110, 0.33);
    color: white;
    transition: 0.5s;
}

.button-login img {
    display: flex;
    padding: 40px;
    border: none;
    height: 20px;
    width: 20px;
    position: right;
}

.latestech li a {
    position: static;
    overflow: none;
}

.hero2 {
    background: url(Foto/sVheadsetWave.jpg);
    height: 10%;
    /*vh-view height-veti qe pershtat pamjen e objektit ne baz te pamjes se monitorit*/
    background-repeat: no-repeat;
    /*no-repeat-veti qe ndihmon mos me u perserit foto-sepse duhet me zan 100% te ekranit*/
    background-size: cover;
    display: flex;
    align-items: stretch;

}

.hero2 h1 {
    font-display: block;
    text-align: right;
    margin-top: 200px;
    font-size: 60px;
    font-family: arial black;
    color: rgb(183, 107, 154) border: 200px;
    background-color: rgba(103, 42, 165, 0.57);
    color: rgba(255, 255, 255, 0.91);
}

.hero2 h2 {
    padding-bottom: 0;
    margin-top: 90px;
    text-underline-position: 90px;
    border: 50px;
    border-width: thick;
    background-color: rgba(211, 196, 77, 0.12);
    color: rgba(255, 255, 255, 0.91);
}

.hero2 img {
    display: grid;
    padding-top: 80px;
    margin-bottom: 20px;
    width: 800px;
    height: 800px;
    border-radius: 10px;

}

.hero2 cards {
    display: static;
    padding-top: 40px;
    margin-top: 900px;

}

.hero2 card {
    padding: 50px 100px;
    border: none;
    margin: 0 20px;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.front {
    backface-visibility: hidden;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    top: 140px;
    left: 10px;
    right: 10px;
}

.back p {
    font-size: 16px;
    color: lightpink;
}

.card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card h2 {
    font-size: 35px;
    font-weight: 500px;
    color: #a232cb;
    font-weight: bold;
    border: 500px;
    border-color: rgba(244, 233, 196, 0.78);


}

.card p {
    font-size: 26px;
    color: cornsilk;
    font-weight: 100px;
}


.footer {
    background-color: lightpink;
    padding: 10px;
    text-align: center;

}

.footer h4 {
    font-size: 18px;
    font
}
